<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m520it.blacknews">

    <application
        android:name="com.m520it.blacknews.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/neweasyicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.m520it.blacknews.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.m520it.blacknews.news.DetailActivity"
            android:launchMode="singleTask"
            />

        <activity android:name="com.m520it.blacknews.demo.DemoActivity">

        </activity>
        <activity android:name="com.m520it.blacknews.news.FeedBackActivity"/>
        <activity android:name="com.m520it.blacknews.WebViewActivity"/>
        <activity android:name="com.m520it.blacknews.activity.IndexActivity"
            android:launchMode="singleTask"
            />
        <service android:name="com.m520it.blacknews.service.DownLoadService"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>